@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,100;1,300;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif !important;
  background-color: #f5f5f5 !important;
}
.header {
  background-color: #2874f0;
}
.headerLogo {
  width: 100px;
}
.headerCenterInput > input {
  width: 400px;
  outline: none;
}
.itemPage {
  margin-left: 200px;
}

@media screen and (max-width: 768px) {
  .advertisement,
  .dropdown > a,
  .headerCenterInput,
  .headerRight > button,
  .cartIcon > svg,
  .cartIcon > span,
  .time {
    display: none;
  }
  .headerLogo {
    width: 80px;
    padding: 10px 0;
  }
  .category {
    overflow-x: scroll;
  }
  .downArrow {
    display: block;
  }
}
